.wrap {
  box-sizing: border-box;
  width: 0;
  height: calc(100vh - 62px);
  background: rgb(255, 254, 254);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  overflow-y: auto;
  box-shadow:  -1px 1px 10px rgb(0,0,0,.2);
  .content {
    width: 100%;
    display: block;
    overflow-y: auto;

    .main {

      .stroke{
        background: rgb(240,240,240) !important;
      }
      .mainItem {
        padding: 0 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        font-size: 12px !important;
        .download{
          color: #e331d7;
        }
        .finish{
          color: #12d86e;
        }
        .bar {
          position: absolute;
          top: 0;
          left: 0;
          color: transparent;
        }

        .name {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
        }

        .filePath {
          width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
        }
        .status{
          width: 30px;
        }
        .index{
          width: 20px;
          font-size: 12px;
        }
      }
    }
  }

}

